.tap{
  height: 7rem;
  width: 7rem;
  text-align: center;
  font-size:5rem;
  color: black;
  background-color: white;
  border: 2px solid black;
 }
#leftpane{
 background-color:#36363c;	
}
  #tabler{
    cursor: not-allowed;
  }
  .btn{
    margin: 30px 0px;
  }
  .tablediv{
    padding: 3rem 0rem;
  }
.c1 , .c2, .c3{
    border-top: none;
}
.c3 , .c6 , .c9{
    border-right: none;
}
.c1 , .c4 , .c7{
    border-left: none;
}
.c7 , .c8 , .c9{
    border-bottom: none;
}
.tap:focus{
    outline: none;
    box-shadow: none;
}
#result{
    padding-top: 3rem;
    text-align: center;
}
h3{
    color: rgb(255, 255, 255);
}
td{
    padding: 0px;
    border: none;
}
.tabletic{
    margin-left: auto;
    margin-right: auto;
}
.active{
  background-color: #666;
  color: white;
}
button.selected{
  color:red;
}
label{
 color:white;
}
input{
    vertical-align: middle;
}
.row{
    height: 100vh;
}
  .lefts {
  }
  
  .rights{
   
  }