<html>
<head>
<title>Tic-Tac-Toe</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/css/style.css">
<link rel='icon' href='/static/assets/favicon.ico' type='image/x-icon'>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="container-fluid">
	<div class="row">
		<div class="col-lg-4 lefts text-center pb-3 pb-lg-0" id="left">
		<div>
			<h3 class="teamname" id="teamname">TEAM MOM</h3>
		</div>
		<div class="choosep" id="choosep">
			<h3>Choose Playing Mode</h3>
			<div>
				<input type="button" class = "btn btn-light" id="single" value="1 Player" onclick="numplayer(1)">
				<input type="button" class = "btn btn-light" id="double" value="2 Players" onclick="numplayer(2)">
			</div>
		</div>
		<div class="cstart" id="cstart">
			<h3>Choose Starting Player</h3>
			<div class="whostart">
			<input type = "button" id = "10" value = "I START"  class ="btn btn-light" onclick = "chanced(10)">
			<input type = "button" id = "11" value = "YOU START"class ="btn btn-light"  onclick = "chanced(11)">
			</div>
		</div>
		<div class="choosed" id="choosed">
			<h3>Choose Difficulty</h3>
			<div>
				<input type="button" id="101" class = "btn btn-light" value="1" onclick="difficulty(1)">
				<input type="button" id="102" class = "btn btn-light" value="2" onclick="difficulty(2)">
				<input type="button" id="103" class = "btn btn-light" value="3" onclick="difficulty(3)">
				<input type="button" id="104" class = "btn btn-light" value="4" onclick="difficulty(4)">
				<input type="button" id="120" class = "btn btn-light" value="Ultimate" onclick="difficulty(20)">
			</div>
			
		</div>
		<div class="playername" id="playername">
			<label for="onep" class="labelg">PLAYER X</label>
			<input type="text" name="onep" class="nameinput" placeholder="YOUR NAME" id="texta">
			<input id="xscore" type= "button" value="0"></input><br>
			<label for="twop" class="labelg">PLAYER O</label>
			<input type="text" name="twop" class="nameinput" placeholder="YOUR NAME" id = "textb">
			<input id="oscore" type= "button" value="0"></input><br>
			<button type="button" class="btn btn-light newb" onclick="save()">Save</button>
			<button type="button" class="btn btn-light newb" onclick="playagain()">Play Again</button>
		</div>
		<div class="newgame">
		<button type="button" class="btn btn-light newb" onclick="startnew()">New Game</button>
		</div>
		<a href="https://github.com/victorX101/TEAM_MOM" class="github" target="_blank">View on Github</a>
	</div>
	

	<div class="col-lg-8 ">
		<h2 id="result" unselectable = "on">CHOOSE SINGLE OR MULTIPLAYER</h2>
		<div class="tablediv">
		<table class="tabletic" id="tabler">
		<tr style="border-top: 0px solid white;">
		<td><input type = "button" id = "1" class ="tap c1" onclick="change(0,0,1)" value=""></td>
		<td><input type = "button" id = "2" class ="tap c2" onclick="change(0,1,2)" value=""></td>
		<td><input type = "button" id = "3" class ="tap c3" onclick="change(0,2,3)" value=""></td>
		</tr>
		<tr>
		<td><input type = "button" id = "4" class = "tap c4" onclick="change(1,0,4)" value=""></td>
		<td><input type = "button" id = "5" class = "tap c5" onclick="change(1,1,5)" value=""></td>
		<td><input type = "button" id = "6" class = "tap c6" onclick="change(1,2,6)" value=""></td>
		</tr>
		<tr>
		<td><input type = "button" id = "7" class = "tap c7" onclick="change(2,0,7)" value=""></td>
		<td><input type = "button" id = "8" class = "tap c8" onclick="change(2,1,8)" value=""></td>
		<td><input type = "button" id = "9" class = "tap c9" onclick="change(2,2,9)" value=""></td>
		</tr>
		</table>
		</div>
	</div>
	</div>
</div>
<script src="/static/js/index.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/static/js/confetti.min.js"></script>
</body>
</html>